html {
  scroll-behavior: smooth;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sometype Mono', monospace;
  list-style: none;
  text-decoration: none;
}

header {
  position : fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 33px 9%;
  background-color: transparent;  
  
}

.logo{
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}


#menu-icon {
  color: #ffffff;
  font-size: 35px;
  z-index: 10001;
  cursor: pointer;
}

.fp{
  height: 100%;
  width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.55) , rgba(0, 0, 0, 1)),
  url(https://cdn.pixabay.com/photo/2016/10/07/13/08/wrangell-1721526_1280.jpg);
  /*(background: linear-gradient(to top, #7f9af5 0%, #bbc8f0 28.53%, #ffffff 75.52%);*/
  background-size: cover;
  background-position: center;
  position: relative;
  display: grid;
  text-align: center;
  align-items: center;
  gap: 2rem;
}

section:not(.map, #gp) {
  padding: 0 10%;
}

.fp-text h5{
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 10px
}

.fp-text h1{
  font-size: 90px;
  line-height: 1;
  color: #ffffff;
  margin: 0 0 45px;
}

b {
  color: #ffffff;
}


.fp-text p {
  color: #ffffff;
  font-size: 25px;
  line-height: 1.9;
  margin-bottom: 40px;
}



.fp-text a {
  display: inline-block;
  color: white;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.45);
  padding: 12px 30px;
  line-height: 1.4 px;
  font-size: 40px;
  font-weight: 700;
  border-radius: 50px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .55s ease;
}

.fp-text a:hover {
  background: #4c604d;;
  border: 2px solid rgba(255, 255, 255, 0.45);
  transform: translateX(8px);
}

.map {
  width: 100%;
  border-radius: 50px;
  border: solid 10px #ffffff;
  padding: 0px;
  height: 220px;
  margin-bottom: 20%;
}

.icons {
  position: absolute;
  top: 50%;
  padding: 0 8%;
  transform: translateY(-50%);
}

.icons i{
  display: block;
  margin: 26px 0;
  font-size: 24px;
  color: #ffffff;
  transition: all .50s ease;
  
}

.icons i:hover {
  color: #ffffff;
  transform: translateY(-8px);
}

@media (max-width: 1100px) {
  .fp-text h1 {
    font-size: 45px;
    margin: 0 0 30px;
  }
  .fp-text h5 {
    margin-bottom: 15px;
  }
}

@media (max-width: 1000px) {
  section {
    padding: 0 3%;
    transition: .2s;
  }
  .fp-text {
    padding-top: 115px;
  }

  .fp {
    height: 100%;
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .icons {
    display: none;
  }


}


.separator {
  text-align: center;
  margin: 46px 0;
}

.separator hr {
  display: inline-block;
  width: 117px;
  height: 5px;
  border: none;
  border-radius: 5px;
  background: #ffffff;
}

.separator i {
  font-size: 41px;
  margin: 0 15px;
  vertical-align: middle;
  color: #ffffff;
}

.separatorg {
  text-align: center;
  margin: 46px 0;
}

.separatorg hr {
  display: inline-block;
  width: 117px;
  height: 5px;
  border: none;
  border-radius: 5px;
  background:  #4c604d;
}

.separatorg i {
  font-size: 41px;
  margin: 0 15px;
  vertical-align: middle;
  color: #4c604d;
}

#issue p {
  display: inline-block;
  font-size: 30px;
  width: 40%;
  vertical-align: top;
  margin: 0px 50px;
  line-height: 1.6;
  text-align: left;
  margin-top: 30px;
  color: #86a787;
  font-weight: 500;
}

#issue {
  background: linear-gradient(to bottom left, rgb(255, 255, 255) 60%, #4c604d 10%);
  padding-top: 2%;
  padding-bottom: 10%;
}

#issue h1{
  padding-top: 10%;
  text-align: center;
  color: #6d8a6e;
  font-size: 60px;
}

#issue img {
  border: solid 10px #6d8a6e;
  border-radius: 50px;
  width: 40%;
  height: 500px;
  object-fit: cover;
  object-position: top;
  margin-top: 30px;
  margin-bottom: 10%;
}


#ss {
  background: linear-gradient(#4c604d 80%, white);
  padding-top: 78px;
}

#ss p {
  display: inline-block;
  font-size: 35px;
  width: 30%;
  height: auto;
  vertical-align: top;
  text-align: left;
  margin: 0 10%;
  margin-top: 2%;
  padding-bottom: 20%;
  line-height: 1.2;
  color: white;
  font-weight: 500;
}

#ss h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

.wrang img {
  float: right;
  border: solid 10px #ffffff;
  border-radius: 50px;
  width: 50%;
  margin-top: 30px;
}

.highway h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

.highway img {
  float: left;
  border: solid 10px #ffffff;
  border-radius: 50px;
  width: 50%;
  margin-top: 30px;
}

#inter {
  background: white;  
  text-align: center;
}
#inter h1 {
  color: #4c604d;
  text-align: center;
  font-size: 60px;
}

#inter p {
  font-size: 35px;
  width: 80%;
  height: auto;
  text-align: center;
  margin: 0 10%;
  margin-top: 4%;
  padding-bottom: 5%;
  line-height: 1.2;
  color: #4c604d;
  font-weight: 500;
}

#inter img {
  width: 40%;
  height: 600px;
  border: solid 20px #4c604d;
  border-radius: 50px;
  object-fit: cover;
  object-position: bottom;
}

#gp {
  background: linear-gradient(to bottom left #ffffff, silver);
}

#gp h1 {
  padding-top: 10%;
  color: #4c604d;
  text-align: center;
  font-size: 60px;
}

.container {
  position: relative;
  text-align: center;
  vertical-align: center;
  color: white;
  font-size: 3.5rem;
}

.cimg {
  width: 90%;
  border: solid 10px #4c604d;
  border-radius: 70px;
  opacity: 0.7;
  transition: opacity 0.5s linear;
}

.container:hover .cimg{
  background-color: linear-gradient(0,0,0,0);
  opacity: 1;
}


.social {
  border-radius: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.title {
  visibility: visible;
  opacity: 1;
  transition: visibility .5s, opacity 1s linear;
}

.container:hover .title {
  visibility: hidden;
  opacity: 0;
}

.explanation {
  visibility: hidden;
  opacity: 0;
  transition: visibilty .5s, opacity 1s linear;
}

.container:hover .explanation {
  visibility: visible;
  opacity: 1;
}

